<div class="centered"> 
  <div id="skrollrviewwindow"><div id="automargins">
  <!--central proposition -->
    <div id="moveover"><%= image_tag "interfaces.png", :id=>"presintro", :data => { 0 => "opacity: 1", 100 => "opacity: 0" } %></div>
    
    
  <div class="cp" data-0="top:2000px;" data-300="top:100px;" data-800="top:100px;" data-1200="top:-200%;"><p style="text-align:left;" class="presentation">
           </div>
  <div class="cp" data-200="top:2000px;" data-500="top:350px;" data-800="top:350px;" data-1200="top:-200%;"><p style="text-align:left;" class="presentation">This process can lead to the user’s online identity becoming fragmented and falsified. 
    Social media users create online identities by crafting a persona on the framework provided by social media, and then continuously<br> act as curator of their online presence (Hogan, 2010).</p>
    Particularly in young people, the discordances <br>of creating an identity online are often not recognized or discussed.</p></div>
    The inter_faces project aims to create discussion about how we use social media to create identity, 
    through the use of interactive portraiture and a shared online space to discuss experiences.</strong></p></div>
  
   
  <!-- ok so maybe add some text boxes describing what all this theory jazz is about. that shit's so fun -->
  <%= image_tag "theory1.svg", :id=>"theory1", :data => { 2700 => "opacity: 0", 3000 => "opacity: 1", 4000 => "opacity: 1", 4400 => "opacity:0" } %>
  <%= image_tag "theory2.svg", :id=>"theory2", :data => { 2900 => "opacity: 0", 3300 => "opacity: 1", 4000 => "opacity: 1", 4400 => "opacity:0" } %>
  <%= image_tag "theory3.svg", :id=>"theory3", :data => { 3300 => "opacity: 0", 3500 => "opacity: 1", 4000 => "opacity: 1", 4400 => "opacity:0" } %>
  <%= image_tag "theory4.svg", :id=>"theory4", :data => { 3800 => "opacity: 0", 4000 => "opacity: 1", 4200 => "opacity: 1", 4400 => "opacity:0" } %>

  </div></div>

<!-- link to workbook and also link to the future page~~ woo future -->


	<script type="text/javascript" src="skrollr.min.js"></script>
    <script type="text/javascript">
      var s = skrollr.init();
    </script>
</div>
