<div class="centered"> 
  <div id="skrollrviewwindow"><div id="automargins">
  <!--central proposition -->
    <div id="moveover"><%= image_tag "interfaces.png", :id=>"presintro", :data => { 0 => "opacity: 1", 100 => "opacity: 0" } %></div>
    
    
  <div class="cp" data-0="top:2000px;" data-300="top:200px;" data-800="top:200px;" data-1200="top:-200%;"><p style="text-align:left;" class="presentation">
           Social media users create online identities by crafting a persona on the framework provided by social media, and then continuously<br> act as curator of their online presence (Hogan, 2010).</p></div>
  <div class="cp" data-200="top:2000px;" data-500="top:450px;" data-800="top:450px;" data-1200="top:-200%;"><p style="text-align:left;" class="presentation">This process can lead to the user’s online identity becoming fragmented and falsified. 
    Particularly in young people, the discordances <br>of creating an identity online are often not recognized or discussed.</p></div>
  <div class="cp" data-500="top:2000px;" data-700="top:700px;" data-800="top:700px;" data-1200="top:-200%;"><p style="text-align:left;" class="presentation"><strong>The inter_faces project aims to create discussion about how we use social media to create identity, 
    through the use of interactive portraiture and a shared online space to discuss experiences.</strong></p></div>
  
    
  <!-- facebook animated bit -->
    <%= image_tag "cprop1.svg", :id=>"cprop1", :data => { 0 => "opacity: 0.4", 400 => "opacity: 0.4", 650 => "opacity: 0" } %>
  <%= image_tag "cprop2.svg", :id=>"cprop2", :data => { 100 => "opacity: 0", 300 => "opacity: 0.4", 700 => "opacity: 0.4", 800 => "opacity: 0" } %>
  <%= image_tag "cprop3.svg", :id=>"cprop3", :data => { 400 => "opacity: 0", 500 => "opacity: 0.4", 1000 => "top:0px", 1200 => "top:-200%" } %>
  
  <%= image_tag "info1.svg", :class=>"info", :data => { 1000 => "top:2000px", 1400 => "top: 0px", 2200 => "opacity: 1", 2500 => "opacity: 0" } %>
  <%= image_tag "info2.svg", :class=>"info", :data => { 1600 => "opacity: 0", 1800 => "opacity: 1", 2200 => "opacity: 1", 2500 => "opacity: 0" } %>
  <%= image_tag "info3.svg", :class=>"info", :data => { 1800 => "opacity: 0", 2000 => "opacity: 1", 2200 => "opacity: 1", 2500 => "opacity: 0" } %>
  
  <div class="cp" data-1400="top:2000px;" data-1600="top:500px;" data-2200="top:500px;" data-2500="top:-200%"><p style="text-align:left;" class="presentation">
    27% of non-internet users said they felt that most people could be trusted</p></div>
  
<div class="cp" data-1600="top:2000px;" data-1800="top:600px;" data-2200="top:600px;" data-2500="top:-200%"><p style="text-align:left;" class="presentation">
compared to 46% of internet users.</p></div>
  
  <%= image_tag "whyisthis.png", :id=>"whyisthis", :data => { 1800 => "top:2000px", 2000 => "top: 700px", 2200 => "top: 700px", 2700 => "top:-200%" } %>
  <!-- theory stuff woo -->
  <%= image_tag "theory1.svg", :id=>"theory1", :data => { 2700 => "opacity: 0", 3000 => "opacity: 1", 4000 => "opacity: 1", 4400 => "opacity:0" } %>
  <%= image_tag "theory2.svg", :id=>"theory2", :data => { 2900 => "opacity: 0", 3300 => "opacity: 1", 4000 => "opacity: 1", 4400 => "opacity:0" } %>
  <%= image_tag "theory3.svg", :id=>"theory3", :data => { 3300 => "opacity: 0", 3500 => "opacity: 1", 4000 => "opacity: 1", 4400 => "opacity:0" } %>
  <%= image_tag "theory4.svg", :id=>"theory4", :data => { 3800 => "opacity: 0", 4000 => "opacity: 1", 4200 => "opacity: 1", 4400 => "opacity:0" } %>
  

  
    <!-- painted bits -->
  <%= image_tag "painted1.png", :id=>"painted1", :data => { 5000 => "top: 2000px", 5300 => "top:0px", 6800 => "top: 0px", 7200 => "top: -200%" } %>
    <%= image_tag "paint1.png", :id=>"paint", :data => { 5800 => "opacity:0", 6000 => "opacity:1", 6800 => "top:0px", 7200 => "top:-200%" } %>
  <%= image_tag "paint2.png", :id=>"paint", :data => { 6000 => "opacity:0", 6200 => "opacity:1", 6800 => "top:0px", 7200 => "top:-200%" } %>
    <%= image_tag "paint3.png", :id=>"paint", :data => { 6200 => "opacity:0", 6400 => "opacity:1", 6800 => "top:0px", 7200 => "top:-200%" } %>
    <%= image_tag "paint4.png", :id=>"paint", :data => { 6400 => "opacity:0", 6600 => "opacity:1", 6800 => "top:0px", 7200 => "top:-200%" } %>

  <%= image_tag "mel1.png", :id=>"paint", :data => { 7500 => "opacity:0", 7800 => "opacity:1", 9100 => "top:0px", 9300 => "top:-200%" } %>
  <%= image_tag "mel2.png", :id=>"paint", :data => { 7700 => "opacity:0", 8000 => "opacity:1", 9100 => "top:0px", 9300 => "top:-200%" } %>
  <%= image_tag "mel3.png", :id=>"paint", :data => { 7900 => "opacity:0", 8200 => "opacity:1", 9100 => "top:0px", 9300 => "top:-200%" } %>
  <%= image_tag "mel4.png", :id=>"paint", :data => { 8000 => "opacity:0", 8300 => "opacity:1", 9100 => "top:0px", 9300 => "top:-200%" } %>
  <%= image_tag "mel5.png", :id=>"paint", :data => { 8200 => "opacity:0", 8500 => "opacity:1", 9100 => "top:0px", 9300 => "top:-200%" } %>
  <%= image_tag "mel6.png", :id=>"paint", :data => { 8400 => "opacity:0", 8700 => "opacity:1", 9100 => "top:0px", 9300 => "top:-200%" } %>
    <%= image_tag "mel7.png", :id=>"paint", :data => { 8600 => "opacity:0", 8900 => "opacity:1", 9100 => "top:0px", 9300 => "top:-200%" } %>

  <!-- google analytics blah blah -->
  <div class="cp" data-9400="top:2000px;" data-9700="top:0px;" data-10300="top:0px;" data-10700="top:-200%;"><p style="text-align:left;" class="presentation" font-color:#6dcff6>
  240 unique visitors to the site, over 1200 pageviews overall</p></div>
 <div class="cp" data-9600="top:2000px;" data-9900="top:100px;" data-10300="top:100px;" data-10700="top:-200%;"><p style="text-align:left;" class="presentation">
   Average of 4 pages per visit</p></div>  
 <div class="cp" data-9800="top:2000px;" data-10100="top:160px;" data-10300="top:160px;" data-10700="top:-200%;"><p style="text-align:left;" class="presentation">
   Over 20 responses on the 'Your Thoughts' page
  </p></div>

    <%= image_tag "thanks.png", :id=>"thanks", :data => { 10600 => "top:2000px", 10800 => "top:0px" } %>
    <div class="cp" data-10800="top:2000px;" data-11000="top:200px"><p style="text-align:left;" class="presentation">Thanks for your time. The inter_faces project is live at www.theinterfacesproject.com
      and my online process workbook can be viewed at zoedeans222454.tumblr.com</p></div>

  </div></div>

	<script type="text/javascript" src="skrollr.min.js"></script>
    <script type="text/javascript">
      var s = skrollr.init();
    </script>
</div>
