<p> hello world 
Username: <input type="text" name="usrname"><br>




<script>
function myFunction()
{
window.scrollTo(500,500);
}
</script>

<p>Click the button to trigger a function.</p>

<button onclick="myFunction()">Submit</button>
</p>

    <!-- painted bits. have one face static and then you have lied 'x' times online and the nose gets 'x' brushstrokes bigger 
         'how many times have you tweeted today' thing, assemble faces out of other faces - brushstrokes or filled in 
          -->


  <%= image_tag "painted1.png", :id=>"painted1", :data => { 100 => "top: 2000px", 200 => "top:-100px", 600 => "top: -100px", 800 => "top: -200%" } %>
    <%= image_tag "paint1.png", :id=>"paint", :data => { 100 => "opacity:0", 200 => "opacity:1", 600 => "top:-100px", 800 => "top:-200%" } %>
  <%= image_tag "paint2.png", :id=>"paint", :data => { 200 => "opacity:0", 300 => "opacity:1", 600 => "top:-100px", 800 => "top:-200%" } %>
    <%= image_tag "paint3.png", :id=>"paint", :data => { 200 => "opacity:0", 300 => "opacity:1", 600 => "top:-100px", 800 => "top:-200%" } %>
    <%= image_tag "paint4.png", :id=>"paint", :data => { 400 => "opacity:0", 500 => "opacity:1", 600 => "top:-100px", 800 => "top:-200%" } %>

  <!--%= image_tag "mel1.png", :id=>"paint", :data => { 7500 => "opacity:0", 7800 => "opacity:1", 9100 => "top:0px", 9300 => "top:-200%" } %>
  <!--%= image_tag "mel2.png", :id=>"paint", :data => { 7700 => "opacity:0", 8000 => "opacity:1", 9100 => "top:0px", 9300 => "top:-200%" } %>
  <!--%= image_tag "mel3.png", :id=>"paint", :data => { 7900 => "opacity:0", 8200 => "opacity:1", 9100 => "top:0px", 9300 => "top:-200%" } %>
  <!--%= image_tag "mel4.png", :id=>"paint", :data => { 8000 => "opacity:0", 8300 => "opacity:1", 9100 => "top:0px", 9300 => "top:-200%" } %>
  <!--%= image_tag "mel5.png", :id=>"paint", :data => { 8200 => "opacity:0", 8500 => "opacity:1", 9100 => "top:0px", 9300 => "top:-200%" } %>
  <!--%= image_tag "mel6.png", :id=>"paint", :data => { 8400 => "opacity:0", 8700 => "opacity:1", 9100 => "top:0px", 9300 => "top:-200%" } %>
    <!--%= image_tag "mel7.png", :id=>"paint", :data => { 8600 => "opacity:0", 8900 => "opacity:1", 9100 => "top:0px", 9300 => "top:-200%" } %-->


	<!--script type="text/javascript" src="skrollr.min.js"></script>
    <script type="text/javascript">
      var s = skrollr.init();
    </script>
</div>