  <div class="centered"> 
    <div id="skrollrviewwindow"><div id="automargins">   
      
  <p id="futureintro" style="text-align:left" data-0="top:0px;" data-200="top:0px;" data-600="top:=-2000px">
    <%= image_tag "inprogress.png", :id=>"inprogress", :style=>"margin-left:180px" %>

<br>The inter_faces project is still a work in progress, and will continue to be developed over the next few months. One thing I have aimed to do
     with the inter_faces project is to challenge the way we combine digital and traditional media, and at times this has meant conceding defeat to the 
      limitations of technology and to my own restrictions in skill.<br><br>
    Moving forward, I intend to use more detailed, rendered portraits combined with the ability to link your Twitter or Facebook account to provide a customised portrait of the users online behaviours.
      
      </p>
    <div class="facts" style="background-color: rgba(107, 205, 246, 0.4);" data-400="top:3000px;" data-700="top:0px;" data-2800="top:0px;" data-3000="top:-500%;"><p>
   One half of all teenagers that use social media admit <br>to having lied online.
      <em>How many times have you lied online?:<input type="text" name="liedonline" value="5"></p></div>
      
      
  <%= image_tag "mel.png", :id=>"paint", :data => { 1100 => "opacity:0", 1400 => "opacity:1", 2800 => "top:0px", 3000 => "top:-1500px" } %>
  <%= image_tag "1.png", :id=>"paint", :data => { 1400 => "opacity:0", 1600 => "opacity:0.8", 2800 => "top:0px", 3000 => "top:-1500px" } %>
  <%= image_tag "2.png", :id=>"paint", :data => { 1600 => "opacity:0", 1800 => "opacity:0.8", 2800 => "top:0px", 3000 => "top:-1500px" } %>
  <%= image_tag "3.png", :id=>"paint", :data => { 1800 => "opacity:0", 2000 => "opacity:0.8", 2800 => "top:0px", 3000 => "top:-1500px" } %>
  <%= image_tag "4.png", :id=>"paint", :data => { 2000 => "opacity:0", 2200 => "opacity:0.8", 2800 => "top:0px", 3000 => "top:-1500px" } %>
  <%= image_tag "5.png", :id=>"paint", :data => { 2200 => "opacity:0", 2400 => "opacity:0.8", 2800 => "top:0px", 3000 => "top:-1500px" } %>
      
      
      <div class="facts" style="background-color: rgba(107, 205, 246, 0.4);" data-3000="top:3000px;" data-3300="top:0px;" data-5500="top:0px;" data-5700="top:-500%;"><p>
   
        <em>Enter your Twitter name:<input type="text" name="name" value="johndoe"><br>
          You have Tweeted <font color=#6dcff6>4 times</font> in the past hour.</p></div>
      
  <%= image_tag "painted1.png", :id=>"paint", :data => { 3700 => "opacity:0", 3900 => "opacity:1", 5500 => "top:0px", 5700 => "top:-200%" } %>
  <%= image_tag "paint1.png", :id=>"paint", :data => { 3900 => "opacity:0", 4100 => "opacity:1", 5500 => "top:0px", 5700 => "top:-200%" } %>
  <%= image_tag "paint2.png", :id=>"paint", :data => { 4100 => "opacity:0", 4300 => "opacity:1", 5500 => "top:0px", 5700 => "top:-200%" } %>
  <%= image_tag "paint3.png", :id=>"paint", :data => { 4300 => "opacity:0",4500 => "opacity:1", 5500 => "top:0px", 5700 => "top:-200%" } %>
  <%= image_tag "paint4.png", :id=>"paint", :data => { 4500 => "opacity:0", 4700 => "opacity:1", 5500 => "top:0px", 5700 => "top:-200%" } %>

  <p id="futureend" style="text-align:left" data-5700="top:2000px;" data-5900="top:0px;">
        If you have any suggestions, comments, ideas or questions regarding how the project will be developed in the future, please
        email me at <em>zoedeans@gmail.com</em></p>
	<script type="text/javascript" src="skrollr.min.js"></script>
    <script type="text/javascript">
      var s = skrollr.init();
    </script>
</div>
