
<body>

<div class="centered"> <div id="skrollrviewwindow">
  <div id="automargins">
  
  <div id=intro data-0="top:0px;" data-200="top:0px;" data-600="top:=-500%"><%= image_tag "interface.png" %>
  	<p>Inter_faces is a project that encourages discussion about how we use social media <br>and the way we create identities online.<br>
      <b>Scroll down to begin.</b></p></div><br><br><br>
<!--scene1-->
  <div class="facts" style="background-color: rgba(107, 205, 246, 0.4);" data-100="top:3000px;" data-900="top:0px;" data-2400="top:0px;" data-2700="top:-500%"><p>
  Studies have found a positive correlation between narcissism and the number of times you check Facebook each day.</p>
   <p class="referencetext"> - Mehdizadeh, 2010. Self-Presentation 2.0: Narcissism and self-esteem on Facebook</p></div>
   <%= image_tag "pip2.png", :id => "pip2", :data => { 100 => "top:2000px", 1000 => "top:100px", 4000 => "top:100px", 4400 => "top: -500%" } %>
   <%= image_tag "screen.png", :id=> "screen", :data => { 1000 => "opacity: 0", 2500 => "opacity: 1", 4000 => "opacity: 1", 4400 => "opacity: 0" } %>
    <%= image_tag "question1.png", :id=> "question1", :data => { 2500 => "top:2000px", 3000 => "top:0px", 4000 => "top:0px", 4400=> "top:-500%"  } %>
    
 
<!-- scene2 --> 
  <div class="facts" style="background-color: rgba(107, 205, 246, 0.4);" data-4200="top:3000px;" data-5000="top:0px;" data-6500="top:0px;" data-6800="top:-500%;"><p>
   One half of all teenagers that use social media admit to having lied online.</p>
  <p class="referencetext"> - Pew Research Center, 2011. Teens, kindness and cruelty on social network sites</p></div>
  <%= image_tag "nose1.png", :id=> "nose1", :data => { 4200 => "top:2000px", 6000 => "top: 350px", 8100 => "top: 350px", 9000 => "top:-500%" } %>
  <%= image_tag "question2.png", :id=> "question2", :data => { 6600 => "top:2000px", 7100 => "top:0px", 8100 => "top: 0px", 9000=> "top: -500%" } %>
  
   <!-- scene3 -->
  <div class="facts" style="background-color: rgba(107, 205, 246, 0.4);" data-8400="top: 3000px;" data-9200="top:0px;" data-10700="top:0px;" data-11000="top:-500%;"><p>
  33% of teens that use social media are Facebook friends with people that they haven't met in person.</p>
  <p class="referencetext"> - Pew Research Center, 2013. Teens, social media and privacy</p></div>
    <!--sort this shit out - needs to be way after the fact leaves-->
  <%= image_tag "pipback.png", :id => "pipback", :data => { 8400 => "top: 2000px", 9300 => "top: 100px", 12100 => "top:100px", 13000 => "top: -500%" } %>
  <%= image_tag "screen2.png", :id => "screen2", :data => { 10100 => "opacity: 0", 10800 => "opacity: 1", 12100 => "opacity: 1", 13000 => "opacity: 0" } %>
  <%= image_tag "strangers.png", :id => "strangers", :data => { 9300 => "top:2000px", 11000 => "top:150px", 15500 => "top:150px", 16700 => "top: -500%" } %>
  <%= image_tag "question3.png", :id => "question3", :data => { 11000 => "top:2000px", 11300 => "top:0px", 12100 => "top:0px", 13000 => "top: -500%" } %>
   
  <!-- scene4 --> <div class="facts" style="background-color: rgba(107, 205, 246, 0.4);" data-12600="top: 3000px;" data-13600="top:0px;" data-14300="top:0px;" data-14600="top:-500%;"><p>
  Studies have found a correlation between Facebook usage and overall decreased life satisfaction. </p>
  <p class="referencetext"> - Kross et al., 2013. Facebook use predicts declines in subjective well-being in young adults</div>
  <%= image_tag "smiling.png", :id => "smiling", :data => { 13600 => "opacity: 0", 14300 => "opacity: 1", 15000 => "opacity: 1", 15500 => "opacity: 0" } %>
  <%= image_tag "question4.png", :id => "question4", :data => { 14300 => "top: 2000px", 14800 => "top:0px", 15800 => "top:0px", 16700 => "top: -500%" } %>

  <div id="finalbit" data-16400="top:3000px;" data-16800="top:0px"><p>inter_faces is a project to create discussion around social media use. Add your thoughts and comments by clicking <%= link_to "your thoughts", controller: "posts" %>, or tweet with the hashtag #interfacesproject.<br>
    To create discussions within your own school, workplace or community, feel free to use our online and printable <%= link_to "tools", tools_path %>.<br><br>
    <input type="button" class="button" onclick="scrollWindow()" value="back to top">
  </p></div>
    
<!-- find some way of making linework in relation to pip's face so they don't cross over when browser resized-->  
    <div id="linework1"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width: "100px">
	<path style="fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:10;stroke-opacity:1;stroke-dasharray:8000;stroke-dashoffset:8000"
    data-1000="stroke-dashoffset:8000;" data-3500="stroke-dashoffset:0;display:block;" data-8100="stroke-dashoffset:0;display:block;" data-8700="stroke-dashoffset:8000;"
    d="M159.333,8.512c2.547,1.313,1.021,14.359,1.351,17.333
	c0.695,6.263,0.722,13.284,0.324,19.657c-0.936,14.961-1.484,30.365-0.657,45.343c0.754,13.646-0.989,27.777,4.567,40.334
	c2.592,5.856,8.551,8.238,14.749,8.332c6.522,0.099,13.288,0.929,19.594,2.26c6.801,1.437,13.405,2.572,20.073,4.657
	c6.738,2.107,13.297,4.826,19.927,7.083c7.908,2.692,15.854,5.146,24.155,6.75c6.253,1.209,12.27,0.923,18.251,3.251
	c4.936,1.921,9.388,7.06,14.325,8.34c2.854,0.74,6.023-0.496,9.008,0.244c2.681,0.665,5.496,1.591,8.001,2.48
	c10.842,3.848,18.498,13.568,15.656,24.917c-0.798,3.187-1.468,6.494-2.54,9.375c2.835,0.302,5.715-0.717,8.55-0.689
	c3.027,0.03,6.115,1.342,9.009,2.249c5.897,1.849,10.518,3.478,14.324,8.75c7.08,9.805,7.994,25.661,1.918,36.267
	c-1.214,2.118-3.229,3.516-4.25,5.75c-0.999,2.188-1.027,4.905-1.334,7.316c-0.305,2.401-0.55,4.895-1.018,7.333
	c-0.46,2.398-1.77,4.276-2.649,6.667c-1.789,4.862-1.708,9.959-2.649,15c-0.359,1.925-1.093,5.583-3.95,4.601
	c-3.793-1.304-2.101-11.697-5.676-10.542c-2.195,4.611,3.122,10.386,3.607,14.943c0.585,5.494,0.418,11.031-0.646,16.332
	c-1.21,6.022-3.265,11.878-4.011,18c-0.699,5.74-0.988,11.365-1.008,17.333c-0.02,6.004,1.92,11.796,2.665,17.667
	c0.688,5.418,0.968,10.594,1.66,16c1.402,10.956-0.035,22.575-1.975,33c-4.1,22.027-12.273,43.102-22.259,63.409
	c-5.414,11.011-11.997,20.21-20.157,29.242c-4.073,4.507-8.58,7.506-13.935,10.248c-5.394,2.763-9.664,3.419-15.667,4.101
	c-5.804,0.659-10.862,1.249-16.667,0.074c-6.386-1.292-12.877-1.727-19.333-3.074c-6.37-1.33-12.702-1.455-18.983-2.99
	c-5.805-1.419-11.458-1.555-17-3.75c-5.344-2.117-10.68-4.607-16.276-6.009c-5.982-1.498-11.938-1.559-17.724-3.917
	c-5.766-2.351-11.376-3.186-16.692,0.665c-3.771,2.731-4.908,7.276-7.01,11.178c-2.435,4.521-5.765,8.684-8.389,13.155
	c-6.067,10.339-11.624,21.013-18.667,30.743c-7.771,10.736-16.055,21.03-22.592,32.508c-5.127,9.002-9.083,18.371-13.585,27.658
	c-2.268,4.679-4.546,9.461-7.414,13.85c-1.276,1.952-3.774,8.011-6.61,7.185c-2.701-5.687,1.954-12.766,4.358-17.616
	c5.819-11.741,10.445-25.187,13.251-37.992c3.786-17.281,6.969-35.028,14-51.35c5.679-13.183,11.516-26.464,16.999-39.732
	c2.279-5.517,4.944-10.698,7.586-15.993c1.66-3.326,3.201-6.628,3.416-10.241c0.453-7.602-0.745-14.215-2.909-21.382
	c-3.111-10.304-7.084-20.285-10.017-30.635c-2.534-8.944-5.83-18.639-3.491-28c2.004-8.021,8.174-14.073,13.492-20.002
	c3.214-3.583,7.415-6.616,11.016-9.925c3.728-3.426,7.334-6.961,11.316-10.083c7.261-5.693,16.301-9.959,21.602-17.733
	c10.98-16.104,1.578-37.338,3.641-55.175c1.674-14.476,7.84-26.085,19.749-34.825c4.094-3.005,7.861-6.469,11.527-10.008
	c3.655-3.528,6.774-7.824,11.074-10.584c7.162-4.597,14.584-7.789,22.733-9.91c7.918-2.061,15.65-2.757,23.935-2.757
	c7.885,0,14.872,1.849,22.666,2.316c14.869,0.893,34.24-0.173,43.251,14.35c3.623,5.84,7.203,12.924,9.081,19.435
	c2.184,7.57,2.914,15.902,4.315,23.565c0.368,2.013,2.457,5.799,1.269,7.583c-1.041,1.562-5.497,2.076-7.25,2.434
	c-5.573,1.137-13.805,1.407-18.407,5.225c-8.925,7.404-11.438,19.397-13.519,30.425c-0.997,5.286-1.855,11.325-0.407,16.667
	c1.328,4.9,4.995,9,6,14c1.07,5.327,0.64,10.795,2.584,16.008c1.619,4.342,3.492,9.089,6.009,12.992
	c2.131,3.305,5.317,7.009,5.481,11c0.09,2.181-0.688,4-1.147,6.259c-0.461,2.271-0.269,4.663-0.594,7.074
	c-0.4,2.975-5.53,9.68-9.073,7.414c-2.85-1.823,3.209-8.712,5.655-9.697c3.454,5.555-5.679,7.422-8.915,7.616
	c-6.731,0.404-10.031-1.092-14.759-5.583c-4.05-3.847-8.293-5.901-13.908-4.769c-2.809,0.567-4.314,2.632-1.415,4.434
	c1.985,1.232,5.819,0.517,8.083,0.909c3.462,0.6,6.472,1.015,8.706,4.009c-1.602,2.005-5.816,0.772-8.04,0.667
	c-2.722-0.128-5.43,0.129-8-0.316c-5.467-0.947-11.455-2.839-13.334-8.684c-0.877-2.729-0.651-5.451-0.666-8.333
	c-0.019-3.614,1.463-5.322,4.666-6.999c4.695-2.458,11.118-1.683,16.334-2.342c4.799-0.606,11.282,1.197,13.25-4.066
	c1.996-5.339,0.251-10.7-2.342-15.267c-2.937-5.174-7.365-8.67-10.492-13.659c-3.928-6.267-2.146-12.292-3.075-19.274
	c-1.511-11.357-11.76-20.235-21.007-25.401c-8.98-5.018-24.488-3.717-34.334-1.999c-5.513,0.962-10.676,2.575-16,4.591
	c-2.266,0.858-15.133,5.928-13.09,9.507c2.007,3.515,12.04-2.248,14.407-3.424c5.186-2.577,9.898-3.323,15.684-3.684
	c5.558-0.346,11.068,0.363,16.333,1.009c4.637,0.57,12.042,2.289,16.09-0.91c2.045-1.615,2.291-3.5,4.243-0.416
	c1.323,2.091,1.742,4.89,2.074,7.259c0.758,5.406,0.623,10.936-0.481,16.408c-0.881,4.363-4.566,10.464-9.842,5.917
	c-2.089-1.8-2.806-4.424-4.417-6.591c-1.585-2.13-3.88-4.019-6-5.677c-4.827-3.775-7.786-5.936-14-6.309
	c-6.141-0.368-10.38-0.47-15.667,2.983c-3.524,2.301-8.042,4.99-10.583,8.434c-1.559,2.113-1.939,3.445,0.574,4.658
	c1.579,0.762,4.668,1.127,5.982-0.009c-2.526-0.631-4.792-0.559-6.855-2.091c3.045,0.065,7.417,0.761,9.781-1.259
	c-1.603,0.061-5.461-0.052-5.855-1.665c3.475,0.216,7.563,0.95,10.255-1.642c-2.158-1.165-4.662,0.073-6.848-1.434
	c3.247-0.059,11.337,1.905,13.189-1.6c-1.596,0.125-3.12-0.636-3.947-1.925c3.731,1.288,6.809,2.936,10.64,3.468
	c3.127,0.435,7.447,0.726,10.092,2.65c2.541,1.849,4.188,4.856,6.158,7.182c1.953,2.305,5.452,4.434,4.7,7.852
	c-2.168,1.107-3.43-0.439-5.275-1.192c-2.172-0.885-4.258-0.75-6.675-0.75c-4.973,0-9.724,0.741-14.667,1
	c-4.065,0.213-9.097-1.194-12.259-3.741c-5.339-4.301,1.5-6.545,4.217-9.143c-4.156,3.914-0.937,10.293,3.968,11.292
	c5.225,1.064,11.104-0.457,13.083-6.066c2.274-6.45-4.829-8.948-10.008-7.934c-3.954,0.774-8.784,4.304-10,8.276
	c-4.368,14.264,16.32,11.621,24.592,10.649c6.004-0.705,11.984-2.013,17.741-4.082c2.69-0.966,5.566-1.838,8.082-3.177
	c1.785-0.95,3.748-2.424,5.526-3.032c0.41,3.724-6.399,9.833-8.674,12.615c-3.943,4.822-8.004,8.312-13.602,11.259
	c-11.456,6.032-26.177,6.009-38.316,2.149c-5.872-1.868-11.163-4.312-16.333-7.807c-4.799-3.244-10.485-7.387-9.691-13.926
	c0.863-7.108,5.726-12.811,9.433-18.592c1.831-2.854,2.682-4.535-0.759-5.981c-2.631-1.107-5.871-0.939-8.648-0.426
	c-6.66,1.23-13.207,3.96-20.025,3.667c-7.096-0.305-7.904-7.529-10.583-12.314c-0.288,3.225,0.293,6.424-1.649,9.33
	c-1.932,2.89-4.423,1.325-7.083-0.099c-3.509-1.878-4.164-4.209-6.417,0.093c-2.222,4.243-3.062,9.283-3.602,14.066
	c-0.836,7.408,1.43,16.562-1.065,23.583c-2.337,6.579-10.313,8.89-11.658,15.965c-3.312-1.702-8.46,5.959-11.35,7.293
	c-1.689,0.78-0.685,1.253-2.326,0.032c-1.41-1.049-2.454-4.349-3.166-5.949c-0.955-2.146-2.316-4.866-5.093-4.666
	c-3.006,0.217-5.076,4.518-6.268,6.923c-1.473,2.97-3.401,5.684-5.138,8.501c-1.267,2.054-3.018,5.863-5.927,5.574
	c-2.691-0.267-4.329-4.329-5.082-6.666c-0.822-2.552-1.465-5.672-1.844-8.333c-0.353-2.477-0.699-6.76,2.675-4.749
	c1.524,0.908,2.532,4.948,4.242,5.106c1.072,0.099,5.249-5.558,6.342-6.43c0.927-0.74,2.191-1.887,3.316-2.276
	c1.201-0.416,3.562,0.344,4.617-0.368c1.136-0.766,0.829-2.746,2.392-2.899c2.577-0.252,2.148,2.732,4.099-0.725
	c1.64-2.904,1.195-6.537,1.9-9.658c0.807-3.574,3.78-4.407,5.367-7.341c2.652-4.905-1.617-11.192-1.741-16.3
	c-4.337,3.214-6.244,9.948-9.274,14.572c-2.854,4.354-5.694,8.959-9.586,12.476c-3.737,3.376-7.746,2.952-12.089,4.851
	c-5.178,2.265-4.665,5.956-7.317,10.238c-1.385-1.938-1.557-4.641-2.694-6.711c-0.687,1.76-1.226,3.864-2.413,5.452
	c-0.637-1.264-1.027-2.726-2.15-3.562c-0.848,1.596-1.455,4.535-3.018,5.297c-1.32-2.065-3.022-2.517-5.35-2.247
	c-1.778,3.737,1.702,11.999,3.351,15.591c2.534,5.523,6.407,10.791,10.943,14.766c4.453,3.901,8.629,7.909,12.891,12.009
	c3.937,3.788,7.382,6.216,8.441,11.91c2.625,14.103,0.629,26.964-1.182,40.999c-1.107,8.579-0.422,17.563-1.476,26
	c-1.179,9.438-2.799,18.36-7.135,27.025c-4.632,9.259-9.21,19.112-12.877,28.838c-5.556,14.732-13.402,28.053-21.138,41.637
	c-6.046,10.618-14.494,19.731-20.975,29.923c-4.239-1.544-4.294-7.724-5.012-11.522c-1-5.295-3.321-12.435-1.9-17.926
	c2.577-9.957,21.121-0.5,11,5.9c-3.712,2.348-8.722,4.006-9.986,8.627c-1.113,4.066,0.825,8.982,2.622,12.498
	c5.231,10.233,14.015,18.421,21.849,26.6c13.418,14.01,32.749,16.821,51.039,20.289c4.295,0.814,8.709,0.7,12.988,1.611
	c5.147,1.096,10.269,3.278,15.5,4.527c4.89,1.168,9.987,3,15.026,3.971c7.63,1.471,11.41-4.799,15.109-11.135
	c6.096-10.438,11.078-21.589,17.49-31.849c6.567-10.509,14.404-20.017,22.25-29.515c11.367-13.762,23.276-29.897,37.222-41.111
	c10.651-8.563,23.523-15.562,35.393-22.277c6.056-3.427,13.202-5.02,19.008-8.611c4.512-2.792,8.754-6.399,12.917-9.777
	c3.39-2.751,5.623-5.265,6.196-9.611c0.604-4.581-1.382-5.656-5.124-7.987c-6.6-4.112-14.28-6.056-21.987-6.513
	c-8.465-0.502-17.561,0.25-25.889-1.223c-2.52-0.445-8.202-2.377-7.123-6.4c0.815-3.041,7.666-2.492,10.512-2.488
	c9.552,0.014,19.013-1.595,28.109-3.902c7.691-1.95,20.267-4.34,22.5-13.486c2.328-9.533-12.787-3.21-17.223-1.736
	c-8.527,2.834-15.007,0.577-23.387-1.39c-6.315-1.481-18.46-2.652-23.124-7.861c-7.443-8.313,6.027-10.211,11.622-12.026
	c7.954-2.581,15.827-5.767,23.891-7.709c4.223-1.017,7.034-0.715,11.126,0.597c3.803,1.22,7.812,0.958,11.985,1.015
	c4.312,0.059,6.071,0.852,6.512,5.5c0.364,3.85-0.898,5.557-4.402,6.609c-5.912,1.776-12.828-1.51-18.609-2.498
	c-13.292-2.273-25.136,1.653-38.425,0.813c-1.02-4.331,21.061-9.092,24.536-10.313c4.216-1.481,8.429-2.545,12.889-2.611
	c3.772-0.057,8.432,0.744,11.598-0.876c3.764-1.927,5.753-6.726,7.902-10.124c2.338-3.697,5.151-5.715,8.498-8.611
	c3.393-2.935,4.916-6.084,6.975-9.391c2.53-4.063,4.745-1.805,7.651,1.367c5.745,6.271,9.431,13.781,10.987,22.024
	c0.624,3.305,1.144,10.187,4.9,4.611c2.116-3.141,2.814-8.896,3.503-12.5c1.55-8.121-0.015-16.47-0.015-25
	c0-3.458-0.645-24.891-3.636-24.145c-1.339,0.333-5.559,7.342-6.864,8.647c-3.141,3.137-6.432,5.818-10.525,2.511
	c-4.83-3.9-5.876-13.224-9.099-18.378c-2.801-4.48-7.991-13.473-5.751-18.621c2.271-5.218,12.596-9.329,17.701-10.037
	c-0.772,0.434-2.327,1.494-2.411,1.521c2.901-0.401,5.923,0.513,8.908,0.476c-1.137,0.248-2.323,0.691-3.672,0.613
	c2.035,2.163,6.349,2.691,9.172,2.387c-1.538,0.83-3.461,0.475-5.258,0.602c0.413,3.686,5.208,2.993,7.783,3.952
	c-1.89,0.401-4.039,0.771-5.896,0.171c0.82,2.208,3.29,3.223,5.386,3.815c-1.632,0.255-1.938,0.77-2.424,2.398
	c-0.418,0.011-0.913,0.005-1.33,0.012c-1.48-7.486-6.226-13.956-14.587-13.921c-6.679,0.027-16.378,7.453-10.122,14.622
	c5.601,6.417,17.821-1.28,16.136-9.124c-1.651-7.684-14.454-3.881-16.525,1.487c-3.899,10.11,8.554,9.639,15.014,10.039
	c6.907,0.428,17.075-2.669,15.525-11.526c-2.615-14.955-28.543-10.586-35.9-3.052c-2.633-3.639,8.984-16.434,7.8-22.373
	c-2.968-0.831-10.373,4.08-12.996,5.749c5.358-7.094,15.308-14.213,23.196-17.7c5.622-2.486,17.659-4.771,21.511,1.766
	c5.957,10.113-13.945,7.301-19.136,7.611c-5.762,0.344-16.672,0.661-20.575,4.998c4.475,4.644,23.268-1.651,28.575-2.611
	c3.418-0.618,8.645-2.961,11.498-0.387c2.289,2.064,1.688,8.078,1.502,10.998c-0.52,8.133-3.92,15.036-4.889,23
	c-1.041,8.554,1.295,18.491,3.389,26.611c4.347,16.854,3.871,35.756-1.125,52.389c-5.512,18.352-13.778,35.683-20.252,53.611
	c-7.311,20.244-21.597,32.516-38.986,44.389c-9.312,6.357-19.291,12.005-28.651,18.363c-4.139,2.812-3.681,5.191-5.122,9.635
	c-1.396,4.302-2.868,8.512-4.25,12.989c-3.641,11.791-3.104,24.671-4.625,36.649c-0.612,4.825-1.87,9.674-2.988,14.363
	c-1.34,5.62-1.251,7.538,5,7.889c15.625,0.876,29.831,3.866,43.887,10.748c10.797,5.286,21.306,9.439,33.113,11.338
	c31.174,5.011,60.436,19.187,88.387,33.551c6.048,3.108,20.647,10.237,20.611,18.475c-0.059,13.493-33.918-1.98-39.635-4.525
	c-24.098-10.729-45.509-26.165-68.388-39.375c-6.729-3.886-12.979-6.516-18.976-11.211c-3.919-3.068-8.171-5.233-13-6.889
	c-8.185-2.805-16.294-4.693-24.5-7.389c-8.055-2.646-16.026-4.012-24.002-0.262c-8.334,3.919-14.092,14.231-18.609,21.787
	c-3.948,6.605-13.271,15.648-12.813,23.776c8.812,3.435,18.584-6.874,27.311-7.812c8.545-0.918,17.529-2.093,26.125-2.102
	c8.185-0.009,23.525,4.2,26.861,13c4.552,12.008-7.489,27.578-12.861,37.389c-4.55,8.31-10.204,14.404-17.777,20.238
	c-3.66,2.819-6.793,5.491-11.187,6.984c-5.702,1.938-12.123,1.852-18.085,2.763c-11.996,1.834-21.888-3.7-32.439-8.985
	c-5.864-2.938-12.151-4.684-18.051-7.486c-6.765-3.215-12.868-8.334-18.865-12.767c-13.891-10.269-28.042-19.591-42.731-28.636
	c-8.171-5.031-17.104-9.338-24.877-14.975c-5.838-4.232-11.703-9.448-19-11.051c-2.786-0.612-10.473-3.377-13.012-2.484
	c-7.046,2.477-4.946,20.976-4.488,26.625c1.671,20.614,6.489,40.788,8.623,61.41c2.857,27.609,3.94,55.689,2.903,83.475
	c-0.355,9.496-1.094,19.009-1.538,28.475c-0.18,3.851-1.548,10.385,0.012,14.025"/>
</svg>

    </div></div>
  <script>
function scrollWindow()
  {
  window.scrollTo(0)
  }
</script>
	<script type="text/javascript" src="skrollr.min.js"></script>
    <script type="text/javascript">
      var s = skrollr.init();
    </script>
</body>