
<%= image_tag "yourthoughts.png", :class=>"title2" %>
<div class="button"><%= link_to 'add your thoughts', new_post_path %></div>
    
<div id="outer">
 <!-- the 'your thoughts' bit would be nice as a png in blue font-->



<% @posts.each do |post| %>
      <div class="inner">
        <div class="posttitle"><%= post.title %><br></div>
        <%= link_to 'see this thought', post_path(post) %><br><br>
      <!--this is my sneaky delete button woohoo-->
      <!--%= link_to 'Destroy', post_path(post),
                      method: :delete, data: { confirm: 'Do you really want to delete this?' } %><hr> -->
      <%= post.text %>
        	<div id='fillers'>
			<div class='fillerBox'></div>
		</div>
  </div>
    <% end %>
  </div>

</div>
	<script>
		$(function(){
			$("#outer").mason({
				itemSelector: ".inner",
				ratio: 4,
				sizes: [
					[2,2],
          [1,3],
          [2,3],
          [1,4],
          [2,4]
				],
        filler: {
        itemSelector: '.fillerBox',
          ratio: 2,
          sizes: [
            [2,2],
            [1,2],
            [1,1]
            ],
        filler_class: 'custom_filler'
        },
				layout: 'fluid',
				gutter: 10
			});
		});
		</script>
