<h1>New Post</h1>

<%= form_for :post, url: posts_path do |f| %>
<div id="notcentertext">
  <%= f.label :title, "your name" %></div>
<div id="rule"></div>
<%= f.text_field :title, :class=>'textarea', :id=>'title' %>
<br><br><br><br> 
  <div id="notcentertext">
    <%= f.label :text, "your thoughts" %></div>
<div id="rule"></div>
    <%= f.text_area :text, :class=>'textarea' %>
 
  <p>
    <%= f.submit "add your thoughts", :class=>'button'%>
  </p>
<% end %>
<br><br>
<%= link_to 'back', posts_path %>