<!DOCTYPE html>
<html>
<head>
	<link type="text/css" rel="stylesheet" href="application.css"/>
  <title>Inter_faces</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<div id =body>
  <div id ="content">
    <ul id="navbar" >
    <li><%= link_to "about", about_path %></li>
					<li><%= link_to "theory", theory_path %></li>
					<li><%= link_to "contact", contact_path %></li>
					<li><%= link_to "tools", tools_path %></li>
          <li><%= link_to "home", index_path %></li>
				</ul>
			</div>
  </div>
<%= yield %>

</body>
</html>
